<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
</head>
<body>
    <h2>Crear Producto</h2>
    <form action="/create" method="POST">
        <input type="text" name="id" placeholder="Id"><br>
        <input type="text" name="nombre" placeholder="Nombre"><br>
        <input type="text" name="precio" placeholder="Precio"><br>
        <input type="text" name="descripcion" placeholder="Descripcion"><br>
        <input type="text" name="marca" placeholder="Marca"><br>
        <input type="text" name="stock" placeholder="Stock"><br><br>
        <button type="submit">Crear</button>
    </form>
</body>
</html>