<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
</head>
<body>
    <h2>Crear Producto</h2>
    <form action="/create" method="POST">
        <input type="text" name="Id" placeholder="Id"><br>
        <input type="text" name="Nombre" placeholder="Nombre"><br>
        <input type="text" name="Precio" placeholder="Precio"><br>
        <input type="text" name="Descripcion" placeholder="Descripcion"><br>
        <input type="text" name="Marca" placeholder="Marca"><br>
        <input type="text" name="Stock" placeholder="Stock"><br><br>
        <button type="submit">Crear</button>
    </form>
</body>
</html>